---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="min-h-screen">
		<div class="container-fluid min-h-screen flex flex-col">
			<Header />
			<main class="w-3/4 mx-auto flex-1 flex flex-col justify-center">
				<h1 class="text-8xl mb-6">Hello, I am Basant Besra!</h1>
				<h2 class="text-6xl">A full-stack developer and a dev-ops engineer.</h2>
			</main>
			<Footer />
		</div>
	</body>
</html>
